<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IRCTC</title>
    <!----======== CSS ======== -->

    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <!--<title>Dashboard Sidebar Menu</title>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.9.1/standard/ckeditor.js"></script>
    <link rel="stylesheet" href="admin.css">
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <nav class="sidebar">
        <header>
            <div class="image-text">
                <span class="image">
                    <!--<img src="logo.png" alt="">-->
                </span>

                <div class="text logo-text">
                    <span class="name">REAL</span>

                </div>
            </div>
            <!-- <i class='bx bx-chevron-right toggle'></i> -->
        </header>

        <div class="menu-bar">
            <div class="menu">

                <ul class="menu-links">


                    <li class="nav-link">
                        <a href="#addproduct" onclick="addproduct()">
                            <i class='bx bx-pie-chart-alt icon'></i>
                            <span class="text nav-text">Users </span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#userList" onclick="userList()">
                            <i class='bx bx-bell icon'></i>
                            <span class="text nav-text">Add Train</span>
                        </a>
                    </li>


                    <li class="nav-link">
                        <a href="#account" onclick="account()">
                            <i class='bx bx-bell icon'></i>
                            <span class="text nav-text">Add Station</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#stock" onclick="stock()">
                            <i class='bx bx-bell icon'></i>
                            <span class="text nav-text">Tickets</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#account" onclick="category()">
                            <i class='bx bx-bell icon'></i>
                            <span class="text nav-text">Trains</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#account" onclick="payment()">
                            <i class='bx bx-bell icon'></i>
                            <span class="text nav-text">Stations</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#price" onclick="price()">
                            <i class='bx bx-bell icon'></i>
                            <span class="text nav-text">Ticket Price</span>
                        </a>
                    </li>

                


                    <li class="nav-link">
                        <a href="#refund" onclick="refund()">
                            <i class='bx bx-bell icon'></i>
                            <span class="text nav-text">Cancel</span>
                        </a>
                    </li>



                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="/logout">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
            </div>

        </div>
    </nav>

    <section class="home" style="    background-image: url(irctc.jpg);height: 101%;background-position: center;
    background-repeat: no-repeat;background-size: cover;width: 79%;">

        <div id="Dashboard" class="collpase">
            <div style="text-align: center;">
                <h1>Train</h1>

            </div>
        </div>

        <!-- ALL USERS LIST   -->

        <div id="addproduct" class="collpase">
            <div class="container">
                <div class="row">
                    <h1 style="color: white;">Total User Lists</h1>
                    <br>
                    <table class="table table-striped table-primary" style="background-color: white;">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email Id</th>
                                <th>Phone Number</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(udata.length >0){
                                udata.forEach(function(row){
                                %>
                                <% if(row.email != "real@gmail.com"){ %>
                            <tr>
                                <td><%= row.fname %></td>
                                <td><%= row.email %></td>
                                <td><%= row.pnumber %></td>

                                <td>
                                    <a class="btn btn-danger btn-xs" href="/user/delete/<%= row._id %>"
                                        onclick="return confirm('Are you sure?')"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            <% }})} %>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>

        <!--ADD NEW Locations   -->

        <div id="account" class="collpase">
            <div class="container">
                <div class="row">

                    <div id="signupbox" style="margin-top:50px"
                        class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title"> Add New stations</div>
                            </div>
                            <div class="panel-body">
                                <form action="/stations" id="EmployeeForm" class="form-horizontal" method="post"
                                    role="form">

                                    <div class="form-group">

                                        <label for="username" class="col-md-3 control-label">station Name</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="stn"
                                                placeholder="Enter Station Name">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <!-- Button -->
                                        <div class="col-md-offset-3 col-md-9">
                                            <input type="submit" name="submit" value="Add Station"
                                                class="btn btn-primary">
                                        </div>
                                    </div>


                                </form>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </div>

        <!--ADD NEW CATEGORY LIST   -->

        <div id="userList" class="collpase">
            <div class="container">
                <div class="row">

                    <div id="signupbox" style="margin-top:50px"
                        class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title"> Add New Trains</div>
                            </div>
                            <div class="panel-body">
                                <form action="/add-new-train" id="EmployeeForm" class="form-horizontal" method="post"
                                    role="form">

                                    <div class="form-group">
                                        <label for="username" class="col-md-3 control-label">Train Name</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="name" required
                                                placeholder="Enter Train Name">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="number" class="col-md-3 control-label">Train Number</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" maxlength="5" pattern="[0-9]{5}" name="number" required
                                                placeholder="Enter Train Number">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="number" class="col-md-3 control-label">Departure Time</label>
                                        <div class="col-md-9">
                                            <input type="time" class="form-control" maxlength="5" pattern="[0-9]{5}" name="dtime" required
                                                placeholder="Departure Time">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="number" class="col-md-3 control-label">Arrival Time</label>
                                        <div class="col-md-9">
                                            <input type="time" class="form-control" maxlength="5" pattern="[0-9]{5}" name="atime" required
                                                placeholder="Arrival Time">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <!-- Button -->
                                        <div class="col-md-offset-3 col-md-9">
                                            <input type="submit" name="submit" value="Add Train"
                                                class="btn btn-primary">
                                        </div>
                                    </div>


                                </form>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </div>

        <!--  Total Payment Status  -->

        <div id="stock" class="collpase">
            <div class="container">
                <div class="row">
                    <h1 style="color: white;">Cancel Ticket</h1>
                    <br>
                    <table class="table table-striped table-primary" style="background-color: white;">
                        <thead>
                           
                            <tr>
                                <th>Train Name</th>
                                <th>PNR Number</th>
                                <th>Email Id</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(confd.length >0){
                                confd.forEach(function(row){
                                %>

                            <tr>
                                <td><%= row.trainname %></td>
                                <td><%= row.pnr %></td>
                                <td><%= row.email %></td>
                                <td>
                                <%    if(row.tid == 100){  %>
                                    <a class="btn btn-success btn-l" href="#"
                                        onclick="return confirm('Are you sure?')">paid</a>
                                    <% } else {  %>
                                <a class="btn btn-danger btn-l" href="#"
                                        onclick="return confirm('Are you sure?')">Refunded</a>
                                    <% } %>
                                </td>
                            </tr>
                    <% })} %>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <!--  Total View Category  -->

        <div id="category" class="collpase">
            <div class="container">
                <div class="row">
                    <h1 style="color: white;">Total Trains</h1>
                    <br>
                    <table class="table table-striped table-primary" style="background-color: white;">
                        <thead>

                            <tr>
                                <th>Train Name</th>
                                <th>Train Number</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(tdata.length >0){
                                tdata.forEach(function(row){
                                %>
                            <tr>
                                <td><%= row.name %></td>
                                <td><%= row.number %></td>
                                <td>
                                    <a class="btn btn-danger btn-xs" href="/train/delete/<%= row._id %>"
                                        onclick="return confirm('Are you sure?')"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                    <% })} %>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <!--  Total View location  -->

        <div id="payment" class="collpase">
            <div class="container">
                <div class="row">
                    <h1 style="color: white;">Total Station</h1>
                    <br>
                    <table class="table table-striped table-primary" style="background-color: white;">
                        <thead>
                            <tr>
                                <th>Station Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(sdata.length >0){
                                sdata.forEach(function(row){
                                %>
                            <tr>
                                <td><%= row.stn %></td>

                                <td>
                                    <a class="btn btn-danger btn-xs" href="/stn/delete/<%= row._id %>"
                                        onclick="return confirm('Are you sure?')"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                      <% })} %>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
       <% var len = pdata.length %>
        <div id="price" class="collpase">
            <div class="container">
                <div class="row">

                    <div id="signupbox" style="margin-top:50px"
                        class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title">Update Ticket Price</div>
                            </div>
                            <div class="panel-body">
                                <form action="/prices" id="EmployeeForm" class="form-horizontal" method="post"
                                    role="form">

                                    <div class="form-group">

                                        <label for="username" class="col-md-3 control-label">3A Ticket Price</label>

                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="lac" value="<%= pdata[len-1].lac %>">
                                        </div>
                            </div>
                                        <div class="form-group">
                                            <label for="username" class="col-md-3 control-label">2A Ticket Price</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="sac" value="<%= pdata[len-1].sac %>">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="username" class="col-md-3 control-label">SL Ticket Price</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="sl" value="<%= pdata[len-1].sl %>">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="username" class="col-md-3 control-label">GN Ticket Price</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="gn" value="<%= pdata[len-1].gn %>">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="username" class="col-md-3 control-label">1A Tickect
                                                Price</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="ac" value="<%= pdata[len-1].ac %>">
                                            </div>
                                        </div>



                                        <div class="form-group">

                                            <div class="col-md-offset-3 col-md-9">
                                                <input type="submit" name="submit" value="Update Price"
                                                    class="btn btn-primary">
                                            </div>
                                        </div>


                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        
    </div>

        <div id="seata" class="collpase">
            
        </div>

        <div id="seatb" class="collapse">
           
        </div>

        <div id="seatc" class="collapse">
            
        </div>

        <div id="refund" class="collapse">
            <div class="container">
                <div class="row">
                    <h1 style="color: white;">Cancel Ticket</h1>
                    <br>
                    <table class="table table-striped table-primary" style="background-color: white;">
                        <thead>
                           
                            <tr>
                                <th>Passanger Name</th>
                                <th>PNR Number</th>
                                <th>Email Id</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(confd.length >0){
                                confd.forEach(function(row){
                                %>
                            <% if(row.tid == 101) { %>
                            <tr>
                                <td><%= row.trainname %></td>
                                <td><%= row.pnr %></td>
                                <td><%= row.email %></td>
                                <td>
                                    <a class="btn btn-primary btn-l" href="#"
                                        onclick="return confirm('Are you sure?')">Refunded</a>
                                </td>
                            </tr>
                    <% }})} %>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div class="zoomImgPopup" id="zoomImgPopup">
            <div class="imgCon">
                <img id="myImg" src="compman.gif" class="zoomOpenImgStyle">
                <div onClick="closeImgPopup()">
                    <button class="closeZoomImgBtn">OK</button>
                </div>
            </div>
        </div>


    </section>


    <script>

        const imgVal = document.getElementById('productImg').src;
        var zoomImgPopup = document.getElementById('zoomImgPopup')

        function zoomImg() {

            console.log("zoomImgPopup", zoomImgPopup)
            zoomImgPopup.classList.add('open-zoomImgPopup')
            console.log("fffvfvfvc", imgVal)
            document.getElementById("myImg").src = imgVal;
        }
        function closeImgPopup() {
            zoomImgPopup.classList.remove('open-zoomImgPopup')
        }

        const body = document.querySelector('body'),
            sidebar = body.querySelector('nav'),
            toggle = body.querySelector(".toggle"),
            searchBtn = body.querySelector(".search-box"),
            modeSwitch = body.querySelector(".toggle-switch"),
            modeText = body.querySelector(".mode-text");

        toggle.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        })



        searchBtn.addEventListener("click", () => {
            sidebar.classList.remove("close");
        })



        modeSwitch.addEventListener("click", () => {
            body.classList.toggle("dark");

            if (body.classList.contains("dark")) {
                modeText.innerText = "Light mode";
            } else {
                modeText.innerText = "Dark mode";

            }
        });

        function dashboard() {
            document.getElementById("Dashboard").classList.add('collpase-open');
            document.getElementById("Dashboard").classList.remove('collpase');
            document.getElementById("addproduct").classList.remove('collpase-open');
            document.getElementById("addproduct").classList.add('collpase');
            document.getElementById("payment").classList.remove('collpase-open');
            document.getElementById("payment").classList.add('collpase');
            document.getElementById("account").classList.remove('collpase-open');
            document.getElementById("account").classList.add('collpase');
            document.getElementById("userList").classList.remove('collpase-open');
            document.getElementById("userList").classList.add('collpase');
            document.getElementById("category").classList.remove('collpase-open');
            document.getElementById("category").classList.add('collpase');
            document.getElementById("stock").classList.remove('collpase-open');
            document.getElementById("stock").classList.add('collpase');
            document.getElementById("price").classList.remove('collpase-open');
            document.getElementById("price").classList.add('collpase');
            document.getElementById("seata").classList.remove('collpase-open');
            document.getElementById("seata").classList.add('collpase');
            document.getElementById("seatb").classList.remove('collpase-open');
            document.getElementById("seatb").classList.add('collpase');
            document.getElementById("seatc").classList.remove('collpase-open');
            document.getElementById("seatc").classList.add('collpase');
            document.getElementById("refund").classList.remove('collpase-open');
            document.getElementById("refund").classList.add('collpase');
            
            

        }

        function payment() {
            document.getElementById("payment").classList.add('collpase-open');
            document.getElementById("payment").classList.remove('collpase');
            document.getElementById("addproduct").classList.remove('collpase-open');
            document.getElementById("addproduct").classList.add('collpase');
            document.getElementById("Dashboard").classList.remove('collpase-open');
            document.getElementById("Dashboard").classList.add('collpase');
            document.getElementById("account").classList.remove('collpase-open');
            document.getElementById("account").classList.add('collpase');
            document.getElementById("userList").classList.remove('collpase-open');
            document.getElementById("userList").classList.add('collpase');
            document.getElementById("category").classList.remove('collpase-open');
            document.getElementById("category").classList.add('collpase');
            document.getElementById("stock").classList.remove('collpase-open');
            document.getElementById("stock").classList.add('collpase');
            document.getElementById("price").classList.remove('collpase-open');
            document.getElementById("price").classList.add('collpase');
            document.getElementById("seata").classList.remove('collpase-open');
            document.getElementById("seata").classList.add('collpase');
            document.getElementById("seatb").classList.remove('collpase-open');
            document.getElementById("seatb").classList.add('collpase');
            document.getElementById("seatc").classList.remove('collpase-open');
            document.getElementById("seatc").classList.add('collpase');
            document.getElementById("refund").classList.remove('collpase-open');
            document.getElementById("refund").classList.add('collpase');
        }

        function addproduct() {

            document.getElementById("addproduct").classList.add('collpase-open');
            document.getElementById("addproduct").classList.remove('collpase');
            document.getElementById("payment").classList.remove('collpase-open');
            document.getElementById("payment").classList.add('collpase');
            document.getElementById("Dashboard").classList.remove('collpase-open');
            document.getElementById("Dashboard").classList.add('collpase');
            document.getElementById("account").classList.remove('collpase-open');
            document.getElementById("account").classList.add('collpase');
            document.getElementById("userList").classList.remove('collpase-open');
            document.getElementById("userList").classList.add('collpase');
            document.getElementById("category").classList.remove('collpase-open');
            document.getElementById("category").classList.add('collpase');
            document.getElementById("stock").classList.remove('collpase-open');
            document.getElementById("stock").classList.add('collpase');
            document.getElementById("price").classList.remove('collpase-open');
            document.getElementById("price").classList.add('collpase');
            document.getElementById("seata").classList.remove('collpase-open');
            document.getElementById("seata").classList.add('collpase');
            document.getElementById("seatb").classList.remove('collpase-open');
            document.getElementById("seatb").classList.add('collpase');
            document.getElementById("seatc").classList.remove('collpase-open');
            document.getElementById("seatc").classList.add('collpase');
            document.getElementById("refund").classList.remove('collpase-open');
            document.getElementById("refund").classList.add('collpase');

        }
        function account() {
            document.getElementById("account").classList.add('collpase-open');
            document.getElementById("account").classList.remove('collpase');
            document.getElementById("addproduct").classList.remove('collpase-open');
            document.getElementById("addproduct").classList.add('collpase');
            document.getElementById("Dashboard").classList.remove('collpase-open');
            document.getElementById("Dashboard").classList.add('collpase');
            document.getElementById("payment").classList.remove('collpase-open');
            document.getElementById("payment").classList.add('collpase');
            document.getElementById("userList").classList.remove('collpase-open');
            document.getElementById("userList").classList.add('collpase');
            document.getElementById("category").classList.remove('collpase-open');
            document.getElementById("category").classList.add('collpase');
            document.getElementById("stock").classList.remove('collpase-open');
            document.getElementById("stock").classList.add('collpase');
            document.getElementById("price").classList.remove('collpase-open');
            document.getElementById("price").classList.add('collpase');
            document.getElementById("seata").classList.remove('collpase-open');
            document.getElementById("seata").classList.add('collpase');
            document.getElementById("seatb").classList.remove('collpase-open');
            document.getElementById("seatb").classList.add('collpase');
            document.getElementById("seatc").classList.remove('collpase-open');
            document.getElementById("seatc").classList.add('collpase');
            document.getElementById("refund").classList.remove('collpase-open');
            document.getElementById("refund").classList.add('collpase');
        }
        function userList() {
            document.getElementById("userList").classList.add('collpase-open');
            document.getElementById("userList").classList.remove('collpase');
            document.getElementById("account").classList.remove('collpase-open');
            document.getElementById("account").classList.add('collpase');
            document.getElementById("category").classList.remove('collpase-open');
            document.getElementById("category").classList.add('collpase');
            document.getElementById("addproduct").classList.remove('collpase-open');
            document.getElementById("addproduct").classList.add('collpase');
            document.getElementById("Dashboard").classList.remove('collpase-open');
            document.getElementById("Dashboard").classList.add('collpase');
            document.getElementById("payment").classList.remove('collpase-open');
            document.getElementById("payment").classList.add('collpase');
            document.getElementById("stock").classList.remove('collpase-open');
            document.getElementById("stock").classList.add('collpase');
            document.getElementById("price").classList.remove('collpase-open');
            document.getElementById("price").classList.add('collpase');
            document.getElementById("seata").classList.remove('collpase-open');
            document.getElementById("seata").classList.add('collpase');
            document.getElementById("seatb").classList.remove('collpase-open');
            document.getElementById("seatb").classList.add('collpase');
            document.getElementById("seatc").classList.remove('collpase-open');
            document.getElementById("seatc").classList.add('collpase');
            document.getElementById("refund").classList.remove('collpase-open');
            document.getElementById("refund").classList.add('collpase');
        }
        function category() {
            document.getElementById("category").classList.add('collpase-open');
            document.getElementById("category").classList.remove('collpase');
            document.getElementById("account").classList.remove('collpase-open');
            document.getElementById("account").classList.add('collpase');
            document.getElementById("addproduct").classList.remove('collpase-open');
            document.getElementById("addproduct").classList.add('collpase');
            document.getElementById("Dashboard").classList.remove('collpase-open');
            document.getElementById("Dashboard").classList.add('collpase');
            document.getElementById("payment").classList.remove('collpase-open');
            document.getElementById("payment").classList.add('collpase');
            document.getElementById("userList").classList.remove('collpase-open');
            document.getElementById("userList").classList.add('collpase');
            document.getElementById("stock").classList.remove('collpase-open');
            document.getElementById("stock").classList.add('collpase');
            document.getElementById("price").classList.remove('collpase-open');
            document.getElementById("price").classList.add('collpase');
            document.getElementById("seata").classList.remove('collpase-open');
            document.getElementById("seata").classList.add('collpase');
            document.getElementById("seatb").classList.remove('collpase-open');
            document.getElementById("seatb").classList.add('collpase');
            document.getElementById("seatc").classList.remove('collpase-open');
            document.getElementById("seatc").classList.add('collpase');
            document.getElementById("refund").classList.remove('collpase-open');
            document.getElementById("refund").classList.add('collpase');
        }

        function stock() {
            document.getElementById("stock").classList.add('collpase-open');
            document.getElementById("stock").classList.remove('collpase');
            document.getElementById("category").classList.remove('collpase-open');
            document.getElementById("category").classList.add('collpase');
            document.getElementById("account").classList.remove('collpase-open');
            document.getElementById("account").classList.add('collpase');
            document.getElementById("addproduct").classList.remove('collpase-open');
            document.getElementById("addproduct").classList.add('collpase');
            document.getElementById("Dashboard").classList.remove('collpase-open');
            document.getElementById("Dashboard").classList.add('collpase');
            document.getElementById("payment").classList.remove('collpase-open');
            document.getElementById("payment").classList.add('collpase');
            document.getElementById("userList").classList.remove('collpase-open');
            document.getElementById("userList").classList.add('collpase');
            document.getElementById("price").classList.remove('collpase-open');
            document.getElementById("price").classList.add('collpase');
            document.getElementById("seata").classList.remove('collpase-open');
            document.getElementById("seata").classList.add('collpase');
            document.getElementById("seatb").classList.remove('collpase-open');
            document.getElementById("seatb").classList.add('collpase');
            document.getElementById("seatc").classList.remove('collpase-open');
            document.getElementById("seatc").classList.add('collpase');
            document.getElementById("refund").classList.remove('collpase-open');
            document.getElementById("refund").classList.add('collpase');
        }
        function price() {
            document.getElementById("price").classList.add('collpase-open');
            document.getElementById("price").classList.remove('collpase');
            document.getElementById("stock").classList.remove('collpase-open');
            document.getElementById("stock").classList.add('collpase');
            document.getElementById("category").classList.remove('collpase-open');
            document.getElementById("category").classList.add('collpase');
            document.getElementById("account").classList.remove('collpase-open');
            document.getElementById("account").classList.add('collpase');
            document.getElementById("addproduct").classList.remove('collpase-open');
            document.getElementById("addproduct").classList.add('collpase');
            document.getElementById("Dashboard").classList.remove('collpase-open');
            document.getElementById("Dashboard").classList.add('collpase');
            document.getElementById("payment").classList.remove('collpase-open');
            document.getElementById("payment").classList.add('collpase');
            document.getElementById("userList").classList.remove('collpase-open');
            document.getElementById("userList").classList.add('collpase');
            document.getElementById("seata").classList.remove('collpase-open');
            document.getElementById("seata").classList.add('collpase');
            document.getElementById("seatb").classList.remove('collpase-open');
            document.getElementById("seatb").classList.add('collpase');
            document.getElementById("seatc").classList.remove('collpase-open');
            document.getElementById("seatc").classList.add('collpase');
            document.getElementById("refund").classList.remove('collpase-open');
            document.getElementById("refund").classList.add('collpase');
        }

        function seata() {
            document.getElementById("seata").classList.add('collpase-open');
            document.getElementById("seata").classList.remove('collpase');
            document.getElementById("price").classList.remove('collpase-open');
            document.getElementById("price").classList.add('collpase');
            document.getElementById("stock").classList.remove('collpase-open');
            document.getElementById("stock").classList.add('collpase');
            document.getElementById("category").classList.remove('collpase-open');
            document.getElementById("category").classList.add('collpase');
            document.getElementById("account").classList.remove('collpase-open');
            document.getElementById("account").classList.add('collpase');
            document.getElementById("addproduct").classList.remove('collpase-open');
            document.getElementById("addproduct").classList.add('collpase');
            document.getElementById("Dashboard").classList.remove('collpase-open');
            document.getElementById("Dashboard").classList.add('collpase');
            document.getElementById("payment").classList.remove('collpase-open');
            document.getElementById("payment").classList.add('collpase');
            document.getElementById("userList").classList.remove('collpase-open');
            document.getElementById("userList").classList.add('collpase');
            document.getElementById("seatb").classList.remove('collpase-open');
            document.getElementById("seatb").classList.add('collpase');
            document.getElementById("seatc").classList.remove('collpase-open');
            document.getElementById("seatc").classList.add('collpase');
            document.getElementById("refund").classList.remove('collpase-open');
            document.getElementById("refund").classList.add('collpase');

        }

        function seatb() {
            document.getElementById("seatb").classList.add('collpase-open');
            document.getElementById("seatb").classList.remove('collpase');
            document.getElementById("seata").classList.remove('collpase-open');
            document.getElementById("seata").classList.add('collpase');
            document.getElementById("price").classList.remove('collpase-open');
            document.getElementById("price").classList.add('collpase');
            document.getElementById("stock").classList.remove('collpase-open');
            document.getElementById("stock").classList.add('collpase');
            document.getElementById("category").classList.remove('collpase-open');
            document.getElementById("category").classList.add('collpase');
            document.getElementById("account").classList.remove('collpase-open');
            document.getElementById("account").classList.add('collpase');
            document.getElementById("addproduct").classList.remove('collpase-open');
            document.getElementById("addproduct").classList.add('collpase');
            document.getElementById("Dashboard").classList.remove('collpase-open');
            document.getElementById("Dashboard").classList.add('collpase');
            document.getElementById("payment").classList.remove('collpase-open');
            document.getElementById("payment").classList.add('collpase');
            document.getElementById("userList").classList.remove('collpase-open');
            document.getElementById("userList").classList.add('collpase');
            document.getElementById("seatc").classList.remove('collpase-open');
            document.getElementById("seatc").classList.add('collpase');
            document.getElementById("refund").classList.remove('collpase-open');
            document.getElementById("refund").classList.add('collpase');

        }

        function seatc() {
            document.getElementById("seatc").classList.add('collpase-open');
            document.getElementById("seatc").classList.remove('collpase');
            document.getElementById("seatb").classList.remove('collpase-open');
            document.getElementById("seatb").classList.add('collpase');
            document.getElementById("seata").classList.remove('collpase-open');
            document.getElementById("seata").classList.add('collpase');
            document.getElementById("price").classList.remove('collpase-open');
            document.getElementById("price").classList.add('collpase');
            document.getElementById("stock").classList.remove('collpase-open');
            document.getElementById("stock").classList.add('collpase');
            document.getElementById("category").classList.remove('collpase-open');
            document.getElementById("category").classList.add('collpase');
            document.getElementById("account").classList.remove('collpase-open');
            document.getElementById("account").classList.add('collpase');
            document.getElementById("addproduct").classList.remove('collpase-open');
            document.getElementById("addproduct").classList.add('collpase');
            document.getElementById("Dashboard").classList.remove('collpase-open');
            document.getElementById("Dashboard").classList.add('collpase');
            document.getElementById("payment").classList.remove('collpase-open');
            document.getElementById("payment").classList.add('collpase');
            document.getElementById("userList").classList.remove('collpase-open');
            document.getElementById("userList").classList.add('collpase');
            document.getElementById("refund").classList.remove('collpase-open');
            document.getElementById("refund").classList.add('collpase');
        }

        function refund(){
            document.getElementById("refund").classList.add('collpase-open');
            document.getElementById("refund").classList.remove('collpase');
            document.getElementById("seatc").classList.remove('collpase-open');
            document.getElementById("seatc").classList.add('collpase');
            document.getElementById("seatb").classList.remove('collpase-open');
            document.getElementById("seatb").classList.add('collpase');
            document.getElementById("seata").classList.remove('collpase-open');
            document.getElementById("seata").classList.add('collpase');
            document.getElementById("price").classList.remove('collpase-open');
            document.getElementById("price").classList.add('collpase');
            document.getElementById("stock").classList.remove('collpase-open');
            document.getElementById("stock").classList.add('collpase');
            document.getElementById("category").classList.remove('collpase-open');
            document.getElementById("category").classList.add('collpase');
            document.getElementById("account").classList.remove('collpase-open');
            document.getElementById("account").classList.add('collpase');
            document.getElementById("addproduct").classList.remove('collpase-open');
            document.getElementById("addproduct").classList.add('collpase');
            document.getElementById("Dashboard").classList.remove('collpase-open');
            document.getElementById("Dashboard").classList.add('collpase');
            document.getElementById("payment").classList.remove('collpase-open');
            document.getElementById("payment").classList.add('collpase');
            document.getElementById("userList").classList.remove('collpase-open');
            document.getElementById("userList").classList.add('collpase');
        }

    </script>

</body>

</html>