<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IRCTC</title>
    <link rel="stylesheet" href="stylee.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
<script>
    function validateForm() {
      var password = document.forms["myForm"]["ftrain"].value;
      var confirmPassword = document.forms["myForm"]["ttrain"].value;
      if (password === confirmPassword) {
        alert("both station are same!");
        return false;
      }
    }
</script>

    </head>

<body>
    <div class="container">
        <nav>

            <img class="logo-h" src="logo-h.png" alt="">

            <div class="nav-text">
                <div class="upper-nav">
                    <button class="login">IRCTC TICKET RESERVATION</button>

                </div>
                <div class="lower-nav">
                    <div class="train-options">
                        <h1>Book ticket</h1>
                        <h1>PNR Enquiry</h1>
                        <h1>Train Schedule</h1>
                        <h1>Track Your Train</h1>
                        <h1>IRCTC train</h1>
                    </div>
                    <div class="m">
                        <h1>IRCTC eWallet</h1>
                        <h1>IRCTC iMudra</h1>
                        <h1>IRCTC iPay</h1>
                        <h1>e-Gift Voucher</h1>
                    </div>
                    <img class="home-logo" src="home-logo.png"></img>
                    <h6 class="train"><a href="/dashboard">Home</a></h6>
                    <h6 class="train"><a href="/logout">LOGOUT</a></h6>
                </div>
            </div>

            <img class="logo-e" src="logo-e.png" alt="">

        </nav>
        <div class="search-destiny">

            <% var len=loc.length %>
                <% var lx=0 %>
                    <% if(confd.length> 0){
                        confd.forEach(function(row){
                        %>
                        <% if(row.coach=="3AC"  && row.tid == 100) { %>
                            <% var o = row.passangers.length
                            lx=lx + 1 + o; %>
                                <% } %>

                                    <% })} %>

                                        <% var sx=0 %>
                                            <% if(confd.length> 0){
                                                confd.forEach(function(row){
                                                %>
                                                <% if(row.coach=="2AC"  && row.tid == 100) { %>
                                                   
                                                    <% var o = row.passangers.length
                                                    sx=sx + 1 + o; %>
                                                        <% } %>

                                                            <% })} %>


                                                                <% var s=0 %>
                                                                    <% if(confd.length> 0){
                                                                        confd.forEach(function(row){
                                                                        %>


                                                                        <% if(row.coach=="1AC"  && row.tid == 100) { %>
                                                                            <% var o = row.passangers.length
                                                                            s=s + 1 + o; %>
                                                                                <% } %>

                                                                                    <% })} %>

                                                                                        <% var sl=0 %>
                                                                                            <% if(confd.length> 0){
                                                                                                confd.forEach(function(row){
                                                                                                %>


                                                                                                <% if(row.coach=="SL" && row.tid == 100)
                                                                                                    { %>
                                                                                                    <% var o = row.passangers.length
                                                                                                    sl=sl + 1+o; %>
                                                                                                        <% } %>

                                                                                                            <% })} %>

                                                                                                                <% var
                                                                                                                    gn=0
                                                                                                                    %>
                                                                                                                    <%
                                                                                                                        if(confd.length>
                                                                                                                        0){
                                                                                                                        confd.forEach(function(row){
                                                                                                                        %>


                                                                                                                        <% if(row.coach=="GN"  && row.tid == 100
                                                                                                                            )
                                                                                                                            {
                                                                                                                            %>
                                                                                                                            <%
                                                                                                                            var o = row.passangers.length
                                                                                                                            gn=gn
                                                                                                                                +
                                                                                                                                1+o;
                                                                                                                                %>
                                                                                                                                <% }
                                                                                                                                    %>

                                                                                                                                    <% })}
                                                                                                                                        %>
                                                                                                                                        <div>
                                                                                                                                        </div>
                                                                                                                                        <div>
                                                                                                                                        </div>
                                                                                                                                        <form
                                                                                                                                            action="/book-details" name="myForm" onsubmit="return validateForm()" method="post" >
                                                                                                                                            <div
                                                                                                                                                class="uper">

                                                                                                                                                <!-- <input type="text" value="BHOPAL JN - BPL" class="destine"> -->
                                                                                                                                                <select
                                                                                                                                                    class="form-control"
                                                                                                                                                    style="width: 162px; margin-right: 8px;"
                                                                                                                                                    class="destine"
                                                                                                                                                    name="ftrain" required>
                                                                                                                                                    <option
                                                                                                                                                        value="">
                                                                                                                                                        Station
                                                                                                                                                    </option>
                                                                                                                                                    <%
                                                                                                                                                        if(stns.length>
                                                                                                                                                        0){
                                                                                                                                                        stns.forEach(function(row){
                                                                                                                                                        %>
                                                                                                                                                        <option
                                                                                                                                                            value="<%= row.stn %>">
                                                                                                                                                            <%= row.stn
                                                                                                                                                                %>
                                                                                                                                                        </option>
                                                                                                                                                        <% })
                                                                                                                                                            }
                                                                                                                                                            %>
                                                                                                                                                </select>
                                                                                                                                                <div class="arrow"
                                                                                                                                                    style="align-items: center; margin-right: 8px;">
                                                                                                                                                    to
                                                                                                                                                </div>
                                                                                                                                                <!-- <input type="text" value="NEW DEHLI-NDLS" class="location"> -->
                                                                                                                                                <select
                                                                                                                                                    class="form-control"
                                                                                                                                                    style="width: 162px;margin-right:8px; "
                                                                                                                                                    class="location"
                                                                                                                                                    name="ttrain" required>
                                                                                                                                                    <option
                                                                                                                                                        value="">
                                                                                                                                                        Station
                                                                                                                                                    </option>
                                                                                                                                                    <%
                                                                                                                                                        if(stns.length>
                                                                                                                                                        0){
                                                                                                                                                        stns.forEach(function(row){
                                                                                                                                                        %>
                                                                                                                                                        <option
                                                                                                                                                            value="<%= row.stn %>">
                                                                                                                                                            <%= row.stn
                                                                                                                                                                %>
                                                                                                                                                        </option>
                                                                                                                                                        <% })
                                                                                                                                                            }
                                                                                                                                                            %>
                                                                                                                                                </select>

                                                                                                                                                <!-- This is date part please update  -->
                                                                                                                                                
                                                                                                                                                <input
                                                                                                                                                    style="margin-right: 8px;"
                                                                                                                                                    type="date"
                                                                                                                                                    min='2023-04-22'
                                                                                                                                                    max='2023-06-04'
                                                                                                                                                    name="date" required>
                                                                                                                                                <input
                                                                                                                                                    style="margin-right: 8px;"
                                                                                                                                                    type="text"
                                                                                                                                                    value="All Classes"
                                                                                                                                                    class="classes">
                                                                                                                                                <input
                                                                                                                                                    style="margin-right: 8px;"
                                                                                                                                                    type="text"
                                                                                                                                                    value="GENERAL"
                                                                                                                                                    class="general">
                                                                                                                                                <button
                                                                                                                                                    style="margin-right: 8px;"
                                                                                                                                                    class="modify"
                                                                                                                                                    type="submit"
                                                                                                                                                    value="Modify Search">Modify
                                                                                                                                                    Search</button>
                                                                                                                                            </div>
                                                                                                                                        </form>
                                                                                                                                        <div
                                                                                                                                            class="lower">

                                                                                                                                        </div>
                                                                                                                                        <div>
                                                                                                                                        </div>
        </div>
        <div class="contend">

            <div class="right-contend">
                <% var x=0 %>
                    <% if(trns.length> 0){
                        trns.forEach(function(row){
                        %>
                        <% x=x + 1; %>
                            <form action="/book" method="post">


                                <div class="ndls">
                                    <div class="day-names">
                                        <input type="hidden" name="tname" value="<%= row.name%>">
                                        <input type="hidden" name="trnno" value="<%= row.number %>">
                                        <h1>
                                            <%= row.name %> (<%= row.number%>)
                                        </h1>
                                        <p>Runs On: M T W T F S S</p>

                                    </div>
                                    <div class="details">
                                        <div class="train-way">
                                            <p><span>
                                                    <%= row.dtime%> |
                                                </span>
                                                <%= loc[len-1].ftrain %> | <%= loc[len-1].date%>
                                            </p>
                                            <p>-----07:20----</p>
                                            <p><span>
                                                    <%= row.atime %> |
                                                </span>
                                                <%= loc[len-1].ttrain %> | <%= loc[len-1].date%>
                                            </p>
                                        </div>
                                        <div class="seats-avial">


                                            <% if(gn>= 9) { %>
                                                <button class="ac">GL 1 Tier (D)<br> <span
                                                        style='color: red;font-weight: 700;'>WL <%= 8-lx %>
                                                    </span></button>
                                                <% } else { %>

                                                    <button class="ac3 ac">GL 1 Tier (D) <br><span
                                                            style='color: #37A51D;font-weight: 700;'>AVAILABLE-000<%=
                                                                8-lx %></span></button>
                                                    <% } %>

                                                        <!-- General -->
                                                        <% if(sl>= 9) { %>
                                                            <button class="ac">SL 1 Tier (S) <br> <span
                                                                    style='color: red;font-weight: 700;'>WL <%= 8-sl %>
                                                                </span></button>
                                                            <% } else { %>

                                                                <button class="ac3 ac">SL 1 Tier (S) <br><span
                                                                        style='color: #37A51D;font-weight: 700;'>AVAILABLE-000
                                                                        <%= 8-sl %>
                                                                    </span></button>
                                                                <% } %>

                                                                    <% if(lx>= 9) { %>
                                                                        <button class="ac">AC 2 Tier (2A) <br> <span
                                                                                style='color: red;font-weight: 700;'>WL
                                                                                <%= 8-lx %>
                                                                            </span></button>
                                                                        <% } else { %>

                                                                            <button class="ac3 ac">AC 3 Tier (3A)
                                                                                <br><span
                                                                                    style='color: #37A51D;font-weight: 700;'>AVAILABLE-000
                                                                                    <%= 8-lx %>
                                                                                </span></button>
                                                                            <% } %>

                                                                                <% if(sx>= 9) { %>
                                                                                    <button class="ac">AC 2 Tier (2A)
                                                                                        <br> <span
                                                                                            style='color: red;font-weight: 700;'>WL
                                                                                            <%= 8-sx %>
                                                                                        </span></button>
                                                                                    <% } else { %>

                                                                                        <button class="ac3 ac">AC 2 Tier
                                                                                            (2A) <br><span
                                                                                                style='color: #37A51D;font-weight: 700;'>AVAILABLE-000
                                                                                                <%= 8-sx %>
                                                                                            </span></button>
                                                                                        <% } %>

                                                                                            <% if(s>= 9) { %>
                                                                                                <button class="ac">AC 1
                                                                                                    Tier (1A) <br> <span
                                                                                                        style='color: red;font-weight: 700;'>WL
                                                                                                        <%= 8-s %>
                                                                                                    </span></button>
                                                                                                <% } else { %>

                                                                                                    <button
                                                                                                        class="ac3 ac">AC
                                                                                                        1 Tier (1A)
                                                                                                        <br><span
                                                                                                            style='color: #37A51D;font-weight: 700;'>AVAILABLE-000
                                                                                                            <%= 8-s %>
                                                                                                        </span></button>
                                                                                                    <% } %>


                                        </div>
                                        <div class="book-buttons">
                                            <button type="submit" value="Book-now" class="book-now">Book-now</button>
                                        </div>
                            </form>
            </div>

        </div>
        <% }) } %>

            <!-- <span style="color: red; font-weight: 700;"></span> -->

    </div>

    </div>

    </div>

    <script>
        
        var a = document.querySelector(".train-options");
        var b = document.querySelector(".m");
        function yess() {
            a.classList.toggle("new");
        }
        function non() {
            b.classList.toggle("n");
        }



    </script>
</body>

</html>