<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- This script got from frontendfreecode.com -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
<style>
body {
    background: #f5f5f5;
    margin: 20px;
}
.rounded {
    border-radius: 1rem;
}
.nav-pills .nav-link {
    color: #555;
}
.nav-pills .nav-link.active {
    color: white;
}
input[type="radio"] {
    margin-right: 5px;
}
.bold {
    font-weight: bold;
}
</style>

</head>
<body>
<div class="row" style="margin-top: 180px;">
    <div class="col-lg-6 mx-auto">
        <div class="card">
            <div class="card-header">
                <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                    <!-- Credit card form tabs -->
                    <ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-3">
                        <li class="nav-item">
                            <a data-toggle="pill" href="#credit-card" class="nav-link active"> <i class="fas fa-credit-card mr-2"></i> Credit Card </a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="pill" href="#paypal" class="nav-link"> <i class="fab fa-paypal mr-2"></i> Paypal </a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="pill" href="#net-banking" class="nav-link"> <i class="fas fa-mobile-alt mr-2"></i> UPI PAYMENT </a>
                        </li>
                    </ul>
                </div>
                
                <!-- End -->
                <!-- Credit card form content -->
                <% var len = confd.length %>
                <% var ld = confd[len-1].passangers.length + 1 %>
                <% var leng = price.length %>
                <div class="tab-content">
                    <!-- credit card info-->
                    <div id="credit-card" class="tab-pane fade show active pt-3">
                        <form role="form" action="/payments" method="post">
                            <div class="form-group">
                                <label for="username">
                                    <h6>Card Owner</h6>
                                </label>
                                <input type="text" maxlength="12" pattern="[A-Za-z]{3,}" placeholder="Enter Card Holder Name" required class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="cardNumber">
                                    <h6>Card number</h6>
                                </label>
                                <div class="input-group">
                                    <input type="text" name="xxxxxxxxxxxxxxx" maxlength="16" pattern="[0-9]{16}"  placeholder="Valid card number" class="form-control" required />
                                    <div class="input-group-append">
                                        <span class="input-group-text text-muted"> <i class="fab fa-cc-visa mx-1"></i> <i class="fab fa-cc-mastercard mx-1"></i> <i class="fab fa-cc-amex mx-1"></i> </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label>
                                            <span class="hidden-xs">
                                                <h6>Expiration Date</h6>
                                            </span>
                                        </label>
                                        <div class="input-group"><input type="number" placeholder="MM" maxlength="2" min="01" max="12" name="" class="form-control" required /> <input type="number" placeholder="YY" maxlength="2" min="24" max="40" name="" class="form-control" required /></div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group mb-4">
                                        <label data-toggle="tooltip" title="Three digit CV code on the back of your card">
                                            <h6>CVV <i class="fa fa-question-circle d-inline"></i></h6>
                                        </label>
                                        <input type="text" maxlength="3" pattern="[0-9]{3}"  required class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <% if(confd[len-1].coach == "3AC") { %>
                        
                                <div class="card-footer"><button type="submit" class="subscribe btn btn-primary btn-block shadow-sm">Pay Now $<%= (price[leng-1].lac)*ld %></button></div>
                          <% } else if(confd[len-1].coach == "2AC"){ %>
                            <div class="card-footer"><button type="submit" class="subscribe btn btn-primary btn-block shadow-sm">Pay Now $<%= (price[leng-1].sac)*ld %></button></button></div>
                         <% } else {  %>
                            <div class="card-footer"><button type="submit" class="subscribe btn btn-primary btn-block shadow-sm">Pay Now $<%= (price[leng-1].ac)*ld %></button></button></div>
                           <% } %>
                        </form>
                    </div>
                    <!-- End -->
                    <!-- Paypal info -->
                    <div id="paypal" class="tab-pane fade pt-3">
                      <form role="form" action="/paymentp" method="post">

                    
                      <div class="form-group">
                        <label for="username">
                            <h6>PAYPAL EMAIL ADDRESS </h6>
                        </label>
                        <input type="text" name="username" placeholder="Enter Paypal email address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required class="form-control" />
                    </div>
                       
                        <p>
                            <% if(confd[len-1].coach == "3AC") { %>
                        
                                <div class="card-footer"><button type="submit" class="subscribe btn btn-primary btn-block shadow-sm">Pay Now $<%= (price[leng-1].lac)*ld %></button></div>
                          <% } else if(confd[len-1].coach == "2AC"){ %>
                            <div class="card-footer"><button type="submit" class="subscribe btn btn-primary btn-block shadow-sm">Pay Now $<%= (price[leng-1].sac)*ld %></button></button></div>
                         <% } else {  %>
                            <div class="card-footer"><button type="submit" class="subscribe btn btn-primary btn-block shadow-sm">Pay Now $<%= (price[leng-1].ac)*ld %></button></button></div>
                           <% } %>
                        </p>
                        <p class="text-muted">
                            Note: After clicking on the button, your  will be done .
                        </p>
                    </div>
                  </form>
                    <!-- End -->
                    <!-- bank transfer info -->
                    <div id="net-banking" class="tab-pane fade pt-3">
                      <form action="/paymentu" role="form" method="post" role="form">
                      <div class="form-group">
                        <label for="Select Your Bank">
                            <h6>UPI PAYMENT </h6>
                        </label>
                        <input type="text" name="username" if placeholder="Enter UPI ID" pattern="[a-z0-9._%+-]+@[a-z]{3,}$" required class="form-control" />
                    
                       
                        </div>
                        <div class="form-group">
                            <p>
                                <% if(confd[len-1].coach == "3AC") { %>
                                    <div class="card-footer"><button type="submit" class="subscribe btn btn-primary btn-block shadow-sm">Pay Now $<%= (price[leng-1].lac)*ld %></button></div>
                              <% } else if(confd[len-1].coach == "2AC"){ %>
                                <div class="card-footer"><button type="submit" class="subscribe btn btn-primary btn-block shadow-sm">Pay Now $<%= (price[leng-1].sac)*ld %></button></button></div>
                             <% } else {  %>
                                <div class="card-footer"><button type="submit" class="subscribe btn btn-primary btn-block shadow-sm">Pay Now $<%= (price[leng-1].ac)*ld %></button></button></div>
                               <% } %>
                            </p>
                        </div>
                        <p class="text-muted">
                            Note: After clicking on the button, you will be directed to a secure gateway for payment. After completing the payment process, you will be redirected back to the website to view details of your order.
                        </p>
                    </div>
                  </form>
                 
                    <!-- End -->
                    <!-- End -->
                </div>
                </div>
            </div>
        </div>
    </div>
</div><div id="bcl"><a style="font-size:8pt;text-decoration:none;" href="http://www.devanswer.com">Free Frontend</a></div>
<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip();
});
</script>

</body>
</html>